0 RCDATA resources/payload-00.txt
1 RCDATA resources/payload-01.txt
2 RCDATA resources/payload-02.txt
3 RCDATA resources/payload-03.txt
4 RCDATA resources/payload-04.txt
5 RCDATA resources/payload-05.txt
6 RCDATA resources/payload-06.txt
7 RCDATA resources/payload-07.txt
8 RCDATA resources/payload-08.txt
9 RCDATA resources/payload-09.txt
10 RCDATA resources/payload-10.txt
11 RCDATA resources/payload-11.txt
12 RCDATA resources/payload-12.txt
13 RCDATA resources/payload-13.txt
14 RCDATA resources/payload-14.txt
15 RCDATA resources/payload-15.txt
16 RCDATA resources/payload-16.txt
17 RCDATA resources/payload-17.txt
18 RCDATA resources/payload-18.txt
19 RCDATA resources/payload-19.txt
20 RCDATA resources/payload-20.txt
21 RCDATA resources/payload-21.txt
22 RCDATA resources/payload-22.txt
23 RCDATA resources/payload-23.txt
24 RCDATA resources/payload-24.txt
25 RCDATA resources/payload-25.txt
26 RCDATA resources/payload-26.txt
27 RCDATA resources/payload-27.txt
28 RCDATA resources/payload-28.txt
29 RCDATA resources/payload-29.txt
30 RCDATA resources/payload-30.txt
31 RCDATA resources/payload-31.txt
32 RCDATA resources/payload-32.txt
33 RCDATA resources/payload-33.txt
34 RCDATA resources/payload-34.txt
35 RCDATA resources/payload-35.txt
36 RCDATA resources/payload-36.txt
37 RCDATA resources/payload-37.txt
38 RCDATA resources/payload-38.txt
39 RCDATA resources/payload-39.txt
40 RCDATA resources/payload-40.txt
41 RCDATA resources/payload-41.txt
42 RCDATA resources/payload-42.txt
43 RCDATA resources/payload-43.txt
44 RCDATA resources/payload-44.txt
45 RCDATA resources/payload-45.txt
46 RCDATA resources/payload-46.txt
47 RCDATA resources/payload-47.txt
48 RCDATA resources/payload-48.txt
49 RCDATA resources/payload-49.txt

// https://docs.microsoft.com/zh-cn/windows/win32/menurc/resource-definition-statements
